:root {
  --color-screen-text: #ffffff;
  --color-body-background: #faebd7;
  --color-calculator-background: #000000;
  --color-button-text: #00ffff;
  --color-clearButton-text: #dc143c;
  --color-addButton-text: #008000;
  --color-subtractButton-text: #ff0000;
  --color-multiplyButton-text: #daa520;
  --color-divideButton-text: #deb887;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-body-background);
}

.app {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  color: var(--color-screen-text);
}

/* button:hover:active {
  scale: 1;
}

button:hover {
  scale: 1.1;
  background-color: grey;
} */

.mouse-hover-active:hover:active {
  scale: 1;
}

.mouse-hover-active:hover,
.keyboard-hover-active {
  scale: 1.1;
  background-color: hsla(0, 0%, 50%, 0.24);
}

.clearBtn {
  font-size: 50px;
  color: var(--color-clearButton-text);
}

.clearBtn:active {
  color: var(--color-clearButton-text);
}

.addBtn {
  color: var(--color-addButton-text);
}

.subtractBtn {
  color: var(--color-subtractButton-text);
}

.multiplyBtn {
  color: var(--color-multiplyButton-text);
}

.divideBtn {
  color: var(--color-divideButton-text);
}
